header{
	background: #666666;
	background-image:  url("imagenes/flywheel.jpg");
	display: block;
	height: 125px;
	background-size: 100%;
	margin: 0px;
}
body{
	margin: 0px;
	float: left;
	display: inline-block;
}
h1{
	color: rgb(255,255,255);
	text-align: center;
	text-transform: uppercase;
}

nav a{
	display: block;
	text-align: center;
	width: 17%;
	text-decoration: none;
	display: inline-block;
	padding: 1% 0% 1%;
	margin-left: 5%;
	background-color: rgba(255,255,255,.3);
	font-weight: bold;
	color: #000000;
	border-radius: 5px;

}

.active{
	background: #ffffff; 

}

.right {
	display: block;
	width: 75%;
	margin-left: 2px;
	float: left;

}

.left{
	background: #486B02;
	display: block;
	width: 15%;
	float: left;
	margin: 0; 
	display: inline-block;
	padding: 2%;
	overflow: auto;
	height: 100vh;


}
.left img {
	display: block;
	width: 80%;
	border: 2px solid #000000 ;
	display: inline-block;
	margin: 5%;

}

h2{
	text-transform: uppercase;
	color: #000000;
}

p{
	font-weight: 900;
}
ul{
	left: 110px;
}

table{
	border-collapse: separate;
	border-spacing: 2px;
	margin:0 auto;
	width: 75%;


}
th{
	background: #8bc34a;
	color: #ffffff;
	border-radius: 2px 2px 0px 0px;
	border: 1px solid #76ff03;

}
th,td{
   text-align: center;
   vertical-align: top;
   border-spacing: 0;
     padding: 10px;

}
td{
	background: #8bc34a80;
	font-family: Alegria, "Time New Roma", Calibri; 
	color: rgba(0,0,0,.7);

}
td:hover{
	color: rgba(0,0,0,1);
}

tr td:first-child{
	width: 65%;
	text-align: left;
	
}
tr th:first-child{
	text-align: left;
	
}
